/* Dark Mode Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #2e2e2e;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #e0e0e0;
    margin: 0; /* Remove default margin */
}

.calendar-container {
    min-width: 400px;
}

.table-container {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.3s ease-in-out;
    overflow: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.table-container table {
    border-collapse: collapse;
    text-align: center;
}

.table-container th,
.table-container td {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #424242;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 50px;
}

.table-container th {
    background: #424242;
    color: #e0e0e0;
}

.table-container td {
    background: hsla(0, 0%, 24%, 1);
    color: #e0e0e0;
    transition: background 0.5s ease;
    position: relative;
}

.table-container td.unavailable {
    background-color: hsla(0, 0%, 22%, 1);
    color: #fff;
    opacity: 0.3;
}

.table-container td.available:hover {
    background: #8f8f8f;
    color: #2e2e2e;
    cursor: pointer;
}

.table-container td.today {
    background-color: hsla(0, 0%, 36%, 1);
    opacity: 0.7;
}

.table-container td.available.today {
    border-bottom-color: hsla(114, 77%, 81%, 0.62);
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 7px); /* 2 columns */
    grid-template-rows: repeat(2, 7px); /* 2 rows */
    gap: 3px; /* Adjust the gap between dots */
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
}

.event-grid .dot {
    width: 9px; /* Diameter of the circle */
    height: 9px; /* Diameter of the circle */
    border-radius: 50%;
}

.dot.available{
    background-color: hsla(114, 79%, 50%, 0.88);
}

.dot.unavailable{
    background-color: hsla(0, 77%, 43%, 0.84);
}

.table-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-header-container h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.general-container {
    display: flex;
}

/* Light Mode Styles */
body.light-theme {
    background-color: #f0f0f0; /* Lighter background color */
    color: #333; /* Dark text color */
}

body.light-theme h1 {
    color: #555; /* Darker text color for headings */
}

body.light-theme .table-container {
    background-color: #D2D3DB; /* Lighter background for table container */
}

body.light-theme .table-container th {
    background: #E4E5F1; /* Light background for table header */
    border: 2px solid #E4E5F1;
    color: #333; /* Dark text color for table header */
}

body.light-theme .table-container td {
    border: 2px solid #E4E5F1;
    background: #D2D3DB; /* Lighter background for table cells */
    color: #333; /* Dark text color for table cells */
}

body.light-theme .table-container td.unavailable {
    background-color: #9394A5; /* Lighter background for unavailable cells */
    color: #666; /* Darker text color for unavailable cells */
}

body.light-theme .table-container td.available:hover {
    background: #bbb; /* Lighter background for hover state in light mode */
    color: #333; /* Dark text color for hover state in light mode */
}

body.light-theme .table-container td.today {
    background-color: #ccc; /* Lighter background for today's cell in light mode */
    opacity: 0.7;
}

body.light-theme.table-container td.available.today {
    border-bottom-color: hsla(207, 80%, 72%, 0.91);
    background: hsla(207, 77%, 81%, 0.62);
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #4caf50;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.floating-btn:hover {
    background: #388e3c;
}

body.light-theme .floating-btn {
    background: #64b5f6;
}

body.light-theme .floating-btn:hover {
    background: #42a5f5;
}
body.light-theme a.btn.btn-success.btn-lg{
    background: #2196f3;
}