/* Dark Theme Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #2e2e2e; /* Darker background color */
    color: #f5f5f5; /* Light text color */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 250px;
    padding: 20px;
    background-color: #424242; /* Darker card background color */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center;
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

.card:hover {
    transform: translateY(+20px); /* Move card up on hover */
    cursor: pointer;
    background-color: #4b4b4b;
}

.icon {
    font-size: 40px;
    color: #64b5f6; /* Accent color for icons */
}

.card h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #f5f5f5; /* Light text color for heading */
}

.card p {
    font-size: 14px;
    color: #ccc; /* Subdued text color for description */
}

a {
    text-decoration: none;
}

/* Light Theme Styles */
body.light-theme {
    background-color: #f0f0f0; /* Lighter background color */
    color: #333; /* Dark text color */
}

body.light-theme .card {
    background-color: #ffffff; /* Light card background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

body.light-theme .card:hover {
    background-color: #e0e0e0; /* Slightly darker hover color for light theme */
}

body.light-theme .icon {
    color: #2196f3; /* Accent color for icons */
}

body.light-theme .card h2 {
    color: #333; /* Dark text color for heading */
}

body.light-theme .card p {
    color: #666; /* Subdued text color for description */
}

/* Floating Button Styles */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #4caf50;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.floating-btn:hover {
    background: #388e3c;
}

body.light-theme .floating-btn {
    background: #64b5f6;
}

body.light-theme .floating-btn:hover {
    background: #42a5f5;
}
